@font-face {
  font-family: 'iconfont';  /* project id 1387053 */
  src: url('//at.alicdn.com/t/font_1387053_boa44wnuyio.eot');
  src: url('//at.alicdn.com/t/font_1387053_boa44wnuyio.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1387053_boa44wnuyio.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1387053_boa44wnuyio.woff') format('woff'),
  url('//at.alicdn.com/t/font_1387053_boa44wnuyio.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1387053_boa44wnuyio.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  display: inline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-font-smoothing: grayscale;
}