@font-face {
  font-family: 'iconfont';  /* project id 1387053 */
  src: url('https://at.alicdn.com/t/font_1387053_4rf60ru8gkw.eot');
  src: url('https://at.alicdn.com/t/font_1387053_4rf60ru8gkw.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1387053_4rf60ru8gkw.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1387053_4rf60ru8gkw.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1387053_4rf60ru8gkw.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1387053_4rf60ru8gkw.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  display: inline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-font-smoothing: grayscale;
}