@font-face {
  font-family: 'iconfont';  /* project id 1387053 */
<<<<<<< HEAD
  src: url('//at.alicdn.com/t/font_1387053_vbs7l92xac.eot');
  src: url('//at.alicdn.com/t/font_1387053_vbs7l92xac.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1387053_vbs7l92xac.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1387053_vbs7l92xac.woff') format('woff'),
  url('//at.alicdn.com/t/font_1387053_vbs7l92xac.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1387053_vbs7l92xac.svg#iconfont') format('svg');
=======
  src: url('//at.alicdn.com/t/font_1387053_hgtbpr96w9p.eot');
  src: url('//at.alicdn.com/t/font_1387053_hgtbpr96w9p.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1387053_hgtbpr96w9p.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1387053_hgtbpr96w9p.woff') format('woff'),
  url('//at.alicdn.com/t/font_1387053_hgtbpr96w9p.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1387053_hgtbpr96w9p.svg#iconfont') format('svg');
>>>>>>> aaf456435d02b0239f93bbf186a4d619449a7b6a
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  display: inline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-font-smoothing: grayscale;
}